.icono{
	color: white;
	font-size: 50px;
}
.contenedor{
	position: relative;
	width: 1100px;
	margin:0 auto;
	padding-top: 100px;
	text-align: center;	
}
.box{
	width: 200px;
	height: 250px;
	background-color: grey;
	position: relative;
	float:left;
	margin-right: 10px;
	transition:transform 1.5s ease-out;
}
.box:hover{
    background-color: purple;
    transform: scale(1.1);
} 
h1, h6{
	font-size: 14px ;
	font-family: 'Courgette', cursive;
	color:white;
}
p{
    font-size: 12px;
    font-family: 'Handlee', cursive;
	color: white;
}
